.hidden {
  display: none;
}

/** add-button **/

.buttons-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#export-button {
  cursor: pointer;
  display: inline-block;
}

#import-button {
  cursor: pointer;
  display: inline-block;
}

#import-input {
  display: none;
}

.button {
  margin: 2px;
  padding: 4px;
  font-size: 1.5em;
  border: solid 1px #bbb;
  cursor: pointer;
  color: gray;
  background-color: white;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
}

.button:hover {
  color: white;
  background-color: darkgray;
}

.button > img{
  max-height: 1em;
}