.hidden {
  display: none;
}

#message-box {
  margin: 1em auto;
  width: 90%;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  line-height: 30px;
  font-size: 16px;
  max-height: 0;
  text-align: center;
  overflow: hidden;
  transition: all 0.5s ease-out;
  font-family: Arial, Helvetica, sans-serif;
}

#message-box.visible {
  /* https://ofsilvers.hateblo.jp/entry/auto-height-transition-not-working */
  max-height: 100em;
}

#message-box.success {
  background-color: green;
}

#message-box.error {
  background-color: rgb(208,52,37);;
}

#content {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
}

#key-list {
  margin-left: auto;
  margin-right: auto;
  width: min-content;
}

.key-item {
  border-radius: 3px;
  border: solid 1px #bbb;
  margin: 1em;
  padding: 4px;

  display: flex;
  flex-direction: row;
}

.key-info {
  font-weight: bold;
  flex-grow: 1;
}

.key-remove {
  height: 100%;
  display: block;
  cursor: pointer;
}


.title {
  text-align: center;
}

.title > .main {
  font-size: 1.5em;
  font-weight: bold;
}

.title img {
  max-height: 1em;
}

/** add-button **/

.buttons-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#export-button {
  cursor: pointer;
  display: inline-block;
}

#import-button {
  cursor: pointer;
  display: inline-block;
}

#import-input {
  display: none;
}

.button {
  margin: 2px;
  padding: 4px;
  font-size: 1.5em;
  border: solid 1px #bbb;
  cursor: pointer;
  color: gray;
  background-color: white;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  user-select: none;
}

.button:hover {
  color: white;
  background-color: darkgray;
}

.button > img {
  max-height: 1em;
}