html, body {
  width: min-content;
}

.hidden {
  display: none;
}

/** add-button **/

.buttons-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
}

#config-button {
  cursor: pointer;
  display: inline-block;
  justify-content: flex-end;
  text-align: center;
  vertical-align: center;
}

#config-button > img {
  max-height: 1em;
}

.button {
  margin: 2px;
  padding: 4px;
  font-size: 1.5em;
  border: solid 1px #bbb;
  cursor: pointer;
  color: gray;
  background-color: white;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  user-select: none;
}

.button:hover {
  color: white;
  background-color: darkgray;
}

/** key-button **/

.keys-wrapper {
  position: relative;
}

.key-item {
  border-radius: 3px;
  border: solid 1px #bbb;
  margin: 1em;
  padding: 4px;

  display: flex;
  flex-direction: row;

  color: black;
  background-color: white;

  cursor: pointer;
}

.key-item:hover {
  color: white;
  background-color: darkgray;
}

.key-info {
  font-weight: bold;
  flex-grow: 1;
  margin-left: 1em;
}

.key-icon {
  height: 100%;
  display: block;
}

.key-cover {
  position: absolute;
  left: 1em;
  right: 1em;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(185, 255, 183, 1);
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
}

.key-cover > span {
  font-weight: bold;
  font-size: 200%;
}
