html, body {
  width: min-content;
}

.hidden {
  display: none;
}

/** add-button **/

.buttons-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
}

#add-button {
  cursor: pointer;
  display: inline-block;
  justify-content: flex-end;
}

#config-button {
  cursor: pointer;
  display: inline-block;
  justify-content: flex-end;
}

.button {
  margin: 3% auto;
  padding: 4px;
  font-size: 1.5em;
  cursor: pointer;
}

/** key-button **/

.key-item {
  border-radius: 3px;
  border: solid 1px #bbb;
  margin: 1em;
  padding: 4px;

  display: flex;
  flex-direction: row;

  color: black;
  background-color: white;

  cursor: pointer;
}

.key-item:hover {
  color: white;
  background-color: darkgray;
}

.key-info {
  font-weight: bold;
  flex-grow: 1;
  margin-left: 1em;
}

.key-icon {
  height: 100%;
  display: block;
}
